@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

::ng-deep table.google-visualization-orgchart-table {
    border-collapse: separate;
}

ion-content.content_background {
    --background: url('../../../assets/bg.png') 0 0;
}

.centerDiv {
    display: block; 
    margin: auto;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #234C9A;
    padding-top: 1vh;
    padding-left: 10px;
}

table {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
}
  
td, th {
    width: 25%;
}

.bgCard {
    background-color: white;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
  