@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

ion-content.content_background {
    --background: url('../../../assets/bg.png') 0 0;
}

ion-card.backgroundColor {
    background-color: white;
    padding: 20px;
}

p {
    font-family: 'Open-Sans', sans-serif;
}

h1 {
    font-family: 'Open-Sans', sans-serif;
}

.full-width {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

table {
    width: 100%;
}
  
td, th {
    width: 25%;
}