<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content_background">
  <ion-card class="backgroundColor">
    <ion-card-title>All NTC Total Bonuses: </ion-card-title>
    <ion-card-content>
      <p><b>₱ 503,338.00</b></p>
      <p><b>₱ 0.00 Reward Points</b></p>
    </ion-card-content>
    <ion-button expand="block">1 Line Bonus Activation</ion-button>
  </ion-card>

  <ion-card class="backgroundColor">
    <ion-card-title>All NTC Total Available Balance: </ion-card-title>
    <ion-card-content>
      <p><b>₱ 493,030.00</b></p>
      <p><b>₱ 0.00 Reward Points</b></p>
    </ion-card-content>
    <ion-button expand="block">
      Encash all PHP Balance
    </ion-button>
    
    <ion-button expand="block">
      Transfer All PH Reward Points
    </ion-button>
  </ion-card>

  <ion-card class="backgroundColor">
    <ion-card-title>PSP1 Double & Supreme Count: </ion-card-title>
    <ion-card-content>    
      <div id="columnChart"></div>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgroundColor">
    <ion-card-title>Incentive Points Status: </ion-card-title>
    <ion-card-content>
      <p style="font-size: 12px;">0.00%</p>
      <p>Total Incentive Points: <b>0.0</b></p>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgroundColor">
    <ion-card-title>NTC's</ion-card-title>
    <ion-card-subtitle><b>Selected NTC:</b> NP761450</ion-card-subtitle>
    
    <br>
    
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ntc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NTC </th>
        <td mat-cell *matCellDef="let row"> {{row.ntc}} </td>
      </ng-container>
    
      <ng-container matColumnDef="match">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Match for This Cycle </th>
        <td mat-cell *matCellDef="let row"> {{row.match}} </td>
      </ng-container>
    
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Balance </th>
        <td mat-cell *matCellDef="let row"> {{row.balance}} </td>
      </ng-container>

      <ng-container matColumnDef="bonus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 1 Line Bonus Status </th>
        <td mat-cell *matCellDef="let row"> 
          <ion-icon name="{{row.bonus}}" style="margin-right: 2vw;"></ion-icon>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </ion-card>

  <ion-card class="backgroundColor">
    <ion-card-title>bg049003 NTC Details</ion-card-title>
    
    <br>

    <app-ntc-details-table></app-ntc-details-table>
  </ion-card>

  <ion-card class="backgroundColor">
    <ion-card-title>New Distributors Count</ion-card-title>
    <ion-card-subtitle><b>Selected NTC:</b> bg049003</ion-card-subtitle>
    
    <br>

    <app-dist-count-table></app-dist-count-table>

    <br>

    <ion-button expand="block">
      Breakdown List
    </ion-button>
  </ion-card>

  <ion-card class="backgroundColor">
    <ion-card-title>Sponsored Distributors Count</ion-card-title>
    <ion-card-subtitle><b>Selected NTC:</b> bg049003</ion-card-subtitle>
    
    <app-spons-count-table></app-spons-count-table>    
    
    <br>

    <ion-button expand="block">
      Breakdown List
    </ion-button>
  </ion-card>

  <ion-card class="backgroundColor">
    <ion-card-title>PSP1 Supreme Count</ion-card-title>
    <ion-card-subtitle><b>Selected NTC:</b> bg049003</ion-card-subtitle>
    
    <app-psp-count-table></app-psp-count-table>    
    
  </ion-card>

</ion-content>
